{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // or "usage"
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3 // 可选 false | 2 | 3
      }
    ]
  ]
}