@import './style/init.scss';
@import './style/comment.scss';
@import './style/animation.scss';
@import './style/about.scss';

$theme-color: #CD010C; // 主题色
$theme-color-2: #D8311E; // 辅助色
$color-3: #FFD476; // 非活动色
$color-4: #EF8F55; // 活动色
$color-white: #fff;
$color-black: #35495E;

$font-kai: KaiTi,
FangSong;


.no-display {
  display: none;
}

.font-tit {
  font-family: 'Ma Shan Zheng', cursive;
}


.page {
  display: flex;
  justify-content: center;
  background-color: $color-white;
  overflow: hidden;

  &:nth-child(1) {
    background-image: url(./img/0-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    .video {
      height: 100vh;
      display: block;
      position: absolute;
      z-index: 0;
      overflow: hidden;
    }
  }

  .first-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1260px;

    .title {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: center;

      h1 {
        font-size: 5.6em;
        color: $theme-color-2;
        font-weight: normal;
        text-shadow: 4px 4px 1px #FFF446;

        &:nth-child(2) {
          text-indent: 1em;
        }
      }

      span {
        font-size: 1.4em;

        &:nth-child(1) {
          line-height: 1.4em;
          vertical-align: text-bottom;
        }

        &:nth-child(3) {
          line-height: 1.2em;
          vertical-align: bottom;
          font-size: 2em;
        }

        &:nth-child(4) {
          line-height: 0.6em;
          vertical-align: bottom;
          font-size: 1.5em;
        }
      }
    }

    .descript {
      flex: 1;
      font-size: 3em;
      color: $color-black;
      text-align: center;
      line-height: 1em;
    }

    .btn-box {
      flex: 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      font-size: 1.2em;
      font-family: $font-kai;
      color: $color-black;

      .btn-both {
        margin: 0 30px;
        padding: 8px 32px;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 5em;
        font-weight: 600;
      }

      .btn-1 {
        color: $color-white;
        background-color: $theme-color-2;
        border: 2px solid $theme-color-2;
      }

      .btn-2 {
        border: 2px solid $theme-color-2;
      }

      .btn-descript {
        font-size: 0.8em;
      }
    }

    .down {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .down-box {
        display: flex;
        justify-content: center;
        width: 1.6em;
        height: 2.5em;
        border: 2px solid $color-white;
        border-radius: 1em;

        .down-anim {
          margin: .2em 0;
          width: .4em;
          height: .8em;
          background-color: $color-white;
          border-radius: 1em;
          animation: mouse-down 2s ease-in-out infinite both;
        }
      }
    }
  }

  // .grid {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url(./img/grid.webp);
  //   background-repeat: repeat;
  //   z-index: 1;
  // }

  .video-page-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    box-sizing: border-box;
    z-index: 10;

    .video-box {
      display: flex;

      .video-con {
        margin: 2em 3em 0 3em;

        video {
          width: 100%;
          height: 100%;
        }
      }

      .tit {
        font-size: 4em;
        color: $color-3;
        line-height: 1em;
        white-space: pre;
      }
    }

    .text {
      display: flex;

      .praise {
        font-size: 2em;
        color: $color-white;
        line-height: 1em;
      }

      .discript {
        width: 50%;
        font-family: $font-kai;
        line-height: 2em;
        color: $color-white;
      }
    }
  }

  .video-right {
    .video-box {
      flex: 6;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-end;

      .video-con {
        flex: 6;
      }

      .tit {
        flex: 4;
        text-align: end;
      }
    }

    .text {
      flex: 3;
      flex-direction: column;
      justify-content: center;
    }
  }

  .video-left {
    .video-box {
      flex: 6;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-end;

      .video-con {
        flex: 6;
      }

      .tit {
        flex: 4;
        line-height: 1.2em;
      }
    }

    .text {
      flex: 3;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      .praise {
        text-align: end;
      }
    }
  }

  .video-left-down {
    .video-box {
      flex: 6;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-end;

      .video-con {
        flex: 6;
      }

      .tit-box {
        flex: 4;
        display: flex;
        justify-content: center;

        .tit {
          line-height: 1.2em;
          writing-mode: vertical-rl;
          writing-mode: tb-rl;
          white-space: pre;

          span {
            font-size: 1.4em;
          }
        }
      }
    }

    .text {
      flex: 3;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      .praise {
        text-align: end;
      }
    }
  }

  .video-only {
    width: 80%;
    background-color: #000;
    margin: 1em 2em;

    video {
      width: 100%;
      height: 100%;
      background-color: #000;
    }
  }
}


.video-p1 {
  background: url(./img/1-1.webp) no-repeat;
  background-size: cover;
  // background-position: 0 -150px;
}

.video-p2 {
  background: url(./img/1-2.webp) no-repeat;
  background-size: cover;
}

.video-p3 {
  background: url(./img/1-3.webp) no-repeat;
  background-size: cover;
}

.video-p4 {
  background: url(./img/1-4.webp) no-repeat;
  background-size: cover;
}

.video-p5 {
  background: url(./img/1-5.webp) no-repeat;
  background-size: cover;
}

.video-p6 {
  background: url(./img/1-6.webp) no-repeat;
  background-size: cover;
}

.video-p7 {
  background: url(./img/1-7.webp) no-repeat;
  background-size: cover;
}

.video-p8 {
  background: url(./img/1-8.webp) no-repeat;
  background-size: cover;
  background-position: right;
}

.video-p9 {
  background-color: #000;
}

.comment-p {
  background: url(./img/1-10.webp) no-repeat;
  background-size: cover;
}


.nav {
  z-index: 100;
}

.nav .nav-dot span {
  width: 8px;
  height: 16px;
  border: 2px solid rgba(241, 139, 128, 0.774);
  z-index: 100;
}

.nav .active span {
  border: 2px solid rgb(216, 49, 30);

}